header {
    background-color: $clr1;
}

.app-header {
    padding: 20px 0;
    font-size: 1.2rem;
    & .logo{
        font-size:2rem;
    }
}

.app-header nav{
    margin-top: 20px;
}

header a {
    margin: 1em;
    text-decoration: none;
    color: black;

    &:hover {
        color: lightgray;
    }
}

nav a {
    &.active {
        font-weight: bold;
    }
}
