* {
    box-sizing: border-box;
}

html {}

p {
    padding: 20px;
    margin: 20px;
    font-size: 1.2em;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

.btn {
    @include btn;
    &.btn-a{
        text-decoration: none;
    }
}